#search{
display:none;
}

#wrap {

background: alpha(0.5);
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

	

}
.inputbox {
	
	 border: 1px solid #BCBCBC;
	color: #ffffff;
	padding: 2px;
	cursor: text;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

	}
#text_editor_controls a.button2,#text_editor_controls input.button2,#text_editor_controls button.button2{
background-image: url(http://illiweb.com/fa/prosilver/bg_button.gif);
color: black;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 3px;}

.inputbox:hover {

	 border: 1px solid #BCBCBC;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
border-color: #111112;
-moz-box-shadow : 0 0 9px #fff;
-webkit-box-shadow : 0 0 9px #fff;
	 }
input.button1, input.button2, button.button2 {
	 font-size: 1em;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	 }
fieldset dl {
	padding: 4px 0;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
fieldset.fields1 dt {
	width: 10em;
	border-right-width: 0;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
fieldset.submit-buttons {
	text-align: center;
	vertical-align: middle;
	margin: 5px 0;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}

.navbar {
	clear: both;
	
	padding:0px 10px;
border: 1px solid #101010;
background-repeat: repeat-x;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
background-color: #111112;
-webkit-transition: background-color 0.2s linear;  
    -moz-transition: background-color 0.2s linear;  
    -o-transition: background-color 0.2s linear;  

	}
dl.codebox {
	padding: 3px;
	background-color: #FFFFFF;
	border: 1px solid #C9D2D8;
	font-size: 1em;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
border: 1px solid #101010;
	}
.forabg {
	margin-bottom: 4px;
	clear: both;
	border: 2px solid #;
	padding: 0px 5px;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
border: 1px solid #101010;



	}
.forumbg {
	background-color: #111112;



	border: 2px solid #;
	padding: 0px 5px;
	margin-bottom: 4px;
	clear: both;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
border: 1px solid #101010;


	}
.panel {
	margin-bottom: 4px;
	padding: 0px 10px;
	background-image: url('http://i21.servimg.com/u/f21/14/21/31/20/gradie16.png');
border: 1px solid #101010;	
background-repeat: repeat-x;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
background-color: #111112;
border: 1px solid #101010;
	}
.post {
	padding: 0 10px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
background-color: #111112;


	}
.postprofile {
	color: #ffffff;
	margin: 5px 0 0px 0;
	min-height: 80px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: transparent;
	width: 22%;
	float: left;
	display: inline;
	position: relative;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
#cp-main {
	float: left;
	width: 98%;
	margin-left: 20px;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
#cp-main .panel {
	
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
#cp-main table.table1 {
	margin-bottom: 1em;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
#ucp-main table.table1 {
	padding: 2px;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
#tabs {
	line-height: normal;
	margin: 20px 0 -1px 7px;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
/*min-width: 570px;
	*/
}
#smiley-box {
	
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}

ul.profile-icons {
	margin-top: 10px;
	list-style: none;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
#message-box textarea {
	
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
.module {
	background-image: url('http://i21.servimg.com/u/f21/14/21/31/20/gradie16.png');
border: 1px solid #101010;	
background-repeat: repeat-x;
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
background-color: #111112;

	}

.signature {
	
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
border-color: #111112;
-moz-box-shadow : 0 0 9px #fff;
-webkit-box-shadow : 0 0 9px #fff;
	}
body.chatbox {
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
background-image: url('http://fc09.deviantart.net/fs10/i/2006/157/f/6/Evolution_WP_by_dilekt.jpg');
	}

