

/* ======================= LINKS & MAIN CODES ======================= */

body, .navbar {
	background-color: black;
}

a:visited,
a:link {
	text-decoration: none !important;
}

.linklist ul li a {
	font-weight: 200;
}

.next-prev {
	float: none;
	text-align: center;
	font-weight: 100;
	margin-top: 1em;
}

.next-prev a{
	color: #B02A3F;
	}

/* ======================= TYPOGRAPHY ======================= */

.mod-text {
	display: block;
	font-weight: 100;
}

span strong {
	color: #44947c;
	font-weight: 100;
}

.postdetails h3 {
	font-weight: 100;
	font-size: 14px;
}

.postbody-head .post-info,
.postdetails h3 {
	margin-top: 1em;
}

.post-entry {
	border-top: 1px solid #444;
	padding: 10px;
	background-color: #000;
	margin: 0;
}

.post .post-header {
	background-color: #000;
	padding-bottom: 15px;
}

.popmenubutton a {
	background-color: #222;
	font-weight: 100;
	padding: 4px 20px 6px 9px;
	border: 1px solid #191935;
	background-image: url('http://www.l2dreamteam.com/images/forum/small-arrow.svg');
	background-size: 13px;
}

/* ======================= MENU & TOOL BAR ======================= */

a.mainmenu[href="/search"] {
display: none;
}

a.mainmenu[href="/calendar"] {
display: none;
}

a.mainmenu[href="/groups"] {
display: none;
}

a.mainmenu[href="/faq"] {
display: none;
}

a.mainmenu[href="/gallery"] {
display: none;
}

#fa_toolbar #fa_magnifier, 
#fa_toolbar #fa_fb, 
#fa_toolbar #fa_twitter, 
#fa_toolbar #fa_gp, 
#fa_toolbar #fa_mail, 
#fa_toolbar #fa_rss, 
#fa_toolbar #fa_hide, 
#fa_toolbar_hidden #fa_show {
    background-image: url('http://l2dreamteam.com/images/forum/toolbar.png');
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#fa_toolbar_hidden {
	width: 33px !important;
	height: 26px !important;
	padding: 3px;
}

#wrap,
.forabg,
.navbar {
	border: 0;
}

#fa_toolbar #fa_magnifier, 
#fa_toolbar #fa_fb, 
#fa_toolbar #fa_twitter, 
#fa_toolbar #fa_gp, 
#fa_toolbar #fa_mail, 
#fa_toolbar #fa_rss, 
#fa_toolbar #fa_hide, 
#fa_toolbar_hidden #fa_show {
	display: none !important;
}

#fa_toolbar_hidden {
	background-color: transparent;
}

#fa_right {
  padding-top: 1%;
  padding-right: 1em;
  font-weight: 100;
}

#fa_notifications {
	color: #efc663 !important;
}

#fa_left {
  display: none !important;
}

.bar {
	background-color: #222;
	border-top: 1px solid #444;
	padding: 13px 8px 8px 8px;
	margin: -18px 0 15px 0;
}

/* ======================= IMAGES & BUTTONS ======================= */

.button {
  font-family: 'Arial', Helvetica, sans-serif;
  width: 30%;
  border: #522958 solid 2px;
  cursor: pointer;
  background-color: #6c4475;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: 15px 3px 0;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
}

.button:hover{
  background-color: #522958;
  color: #ccc;
}
  
.ease {
  width: 0px;
  background-color: #fbfbfb;

}

.button:hover .ease{
  width:100%;
  background-color:white;
}


/* ======================= LOGIN & ERRORS ======================= */

.login .errorwrap {
	display: none;

}

.borderwrap .subtitle {
	font-weight: 100;
	padding: 15px 0;
	text-align: center;
}

/* ======================= TABLES ======================= */

table.ipbtable td {
	vertical-align: middle;
	padding: 0;
}

td.row1.centered img,
span.status.clearfix img {
	width: 35px;
}

span.status.clearfix {
	margin-right: -60px;
	margin-left: -40px !important;
}

td.row2.icon {
	padding-left: 50px !important;
}

table.ipbtable th {
	border: 0;
	background-color: transparent;
}

table.ipbtable td.icon {
	vertical-align: middle !important;
}

table.ipbtable th.forum {
	width: 47%;
}

.topic-full {
	display: none;
}

.thin {
	border: 0;
}

.linklist.clearfix.statlinks {
	display: none;
}

.box-content,
.post {
	border-bottom: 4px solid #f5b233;
}

.post-footer ul.posting-icons {
	margin: 20px 0;
}

#text_editor_textarea, 
#textarea_content 
iframe#text_editor_iframe,
div#textarea_content {
	width: 100% !important;
}

/* ========= ULs & LIs ========== */

.ul-icons-home li img {
	width: 35px;
	margin: 0 .5em 0 1em;
}

#fa_search, #fa_share {
display: none !important;
}

#fa_right.welcome #fa_menu ul {
display: none;
}

/* ======================= FOOTER ======================= */

#gfooter {
	background-color: #000000;
}

.topic-footer {
	background-color: #222;
	padding: 3px 0 12px 0;
}

/* ======================= MEDIA QUERIES ======================= */
