

/* ======================= LINKS & MAIN CODES ======================= */

body, .navbar {
	background-color: black;
}

a:visited,
a:link {
	text-decoration: none !important;
}

.linklist ul li a {
	font-weight: 200;
}

.next-prev {
	float: none;
	text-align: center;
	font-weight: 100;
	margin-top: 1em;
}

.next-prev a{
	color: #B02A3F;
	}

/* ======================= TYPOGRAPHY ======================= */

.mod-text {
	display: block;
	font-weight: 100;
}

span strong {
	color: #44947c;
	font-weight: 100;
}

.postdetails h3 {
	font-weight: 100;
	font-size: 14px;
}

.postbody-head .post-info,
.postdetails h3 {
	margin-top: 1em;
}

.post-entry {
	border-top: 1px solid #444;
	padding: 10px;
	margin: 0;
}

.post .post-header {
	background-color: #000;
	padding-bottom: 15px;
}

#navstrip {
	color: #fff;
	font-weight: 100;
}

/* ==== Drop down menus ==== */

.popmenubutton {
	height: 0;
}
.popmenubutton a {
	background-color: #222;
	font-weight: 100;
	color: #fff;
	padding: 4px 20px 6px 9px;
	border: 1px solid #191935;
	background-image: url('http://www.l2dreamteam.com/images/forum/small-arrow.svg');
	background-size: 13px;
}

.title-overview {
	background-color: #222;
}

.overview hr.dashed {
	border: 1px solid #444;
}

#plus_menu {
	left: 54.5% !important;
	width: 32% !important;
	text-align: center;
	border: 1px solid #111 !important;
}

.overview .left-overview {
	padding: 5px 0 5px 10px;
}

div#plus_menu a:hover {
	color: #fe9a44;
}

.popupmenu ul {
	padding: 0;
}

.popupmenu li {
	background-color: #222;

}

.popupmenu .avatar {
	margin: -1px;
	border: 1px solid #fe9a44;
	height: 55px;
	width: 55px;
}

div#pm1 a:hover {
	color: #fe9a44;
}

/* ======================= MENU & TOOL BAR ======================= */

a.mainmenu[href="/search"] {
display: none;
}

a.mainmenu[href="/calendar"] {
display: none;
}

a.mainmenu[href="/groups"] {
display: none;
}

a.mainmenu[href="/faq"] {
display: none;
}

a.mainmenu[href="/gallery"] {
display: none;
}

#fa_toolbar #fa_magnifier, 
#fa_toolbar #fa_fb, 
#fa_toolbar #fa_twitter, 
#fa_toolbar #fa_gp, 
#fa_toolbar #fa_mail, 
#fa_toolbar #fa_rss, 
#fa_toolbar #fa_hide, 
#fa_toolbar_hidden #fa_show {
    background-image: url('http://l2dreamteam.com/images/forum/toolbar.png');
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#fa_toolbar_hidden {
	width: 33px !important;
	height: 26px !important;
	padding: 3px;
}

#wrap,
.forabg,
.navbar {
	border: 0;
}

#fa_toolbar #fa_magnifier, 
#fa_toolbar #fa_fb, 
#fa_toolbar #fa_twitter, 
#fa_toolbar #fa_gp, 
#fa_toolbar #fa_mail, 
#fa_toolbar #fa_rss, 
#fa_toolbar #fa_hide, 
#fa_toolbar_hidden #fa_show {
	display: none !important;
}

#fa_toolbar_hidden {
	background-color: transparent;
}

#fa_right {
  padding-top: 1%;
  padding-right: 1em;
  font-weight: 100;
}

#fa_notifications {
	color: #efc663 !important;
}

#fa_left {
  display: none !important;
}

.bar {
	background-color: #222;
	border-top: 1px solid #444;
	padding: 13px 8px 8px 8px;
	margin: 0px 0 15px 0;
}

#navstrip li {
	background: url('http://www.l2dreamteam.com/images/forum/small-arrow-right.svg') no-repeat left 50%;
	background-size: 9px;
}

#navstrip li.begin {
	background: url('http://l2dreamteam.com/images/forum/feather.svg') no-repeat left 50%;
}

/* ======================= IMAGES & BUTTONS ======================= */

.button {
  font-family: 'Arial', Helvetica, sans-serif;
  width: 150px;
  border: #522958 solid 2px;
  cursor: pointer;
  background-color: #6c4475;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: 15px 3px 0;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
}

.button:hover{
  background-color: #522958;
  color: #ccc;
}
  
.ease {
  width: 0px;
  background-color: #fbfbfb;

}

.button:hover .ease{
  width:100%;
  background-color:white;
}

.posting-options .posting-buttons li {
	margin: 0 5px;
}


/* ======================= LOGIN & ERRORS ======================= */

.login .errorwrap {
	display: none;

}

.borderwrap .subtitle {
	font-weight: 100;
	padding: 15px 0;
	text-align: center;
}

/* ======================= TABLES ======================= */

table.ipbtable td {
	vertical-align: middle;
	padding: 0;
}

td.row1.centered img,
span.status.clearfix img {
	width: 35px;
}

span.status.clearfix {
	margin-right: -60px;
	margin-left: -40px !important;
}

td.row2.icon {
	padding-left: 50px !important;
}

table.ipbtable th {
	border: 0;
	background-color: transparent;
}

table.ipbtable td.icon {
	vertical-align: middle !important;
}

table.ipbtable th.forum {
	width: 47%;
}

.topic-full {
	display: none;
}

.thin {
	border: 0;
}

.linklist.clearfix.statlinks {
	display: none;
}

.box-content,
.post {
	border-bottom: 4px solid #f5b233;
}

.post-footer ul.posting-icons {
	margin: 20px 0;
}

#text_editor_textarea, 
#textarea_content 
iframe#text_editor_iframe,
div#textarea_content {
	width: 100% !important;
}

.ipbform2 dl dt label {
	width: 145px;
	text-align: right
}

.ipbform2 dl dd {
	margin-left: 28%;
}

/* ========= ULs & LIs ========== */

.ul-icons-home li img {
	width: 35px;
	margin: 0 .5em 0 1em;
}

#fa_search, #fa_share {
display: none !important;
}

#fa_right.welcome #fa_menu ul {
display: none;
}

/* ======================= FOOTER ======================= */

#gfooter {
	background-color: #000000;
}

.topic-footer {
	background-color: #222;
	padding: 3px 0 12px 0;
	margin-bottom: -18px;
}

footer {
  padding-top: 2em;
}

.footer {
  background-color: #0E0E0E;
  width: 100%;
  overflow: hidden;
  font-weight: 100 !important;
  text-align: center;
  padding: 1em 0;
}

.footer a {
  text-transform: uppercase;
  margin: 0 .5em;
  font-size: 9px;
}

.footer p {
  font-weight: 200;
  color: #bbb;
  font-size: 11px;
  padding: 1em;
  width: 90%;
}

.footer-logos {
  width: 40px;
  padding: 1em 0;
}

.section{
    display: block;
    padding: 1em;
    margin: 0 auto;
}

.footer-img{
  width: 100%;
  background-size: auto;
  margin-bottom: -6px;
}

/* ======================= MEDIA QUERIES ======================= */

@media screen and (min-width: 580px) {
	.footer p {
	  width: 70%;
	}
}
