
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

::selection {
  background: #ccc; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ccc; /* Gecko Browsers */
}

strong {
  font-weight: 700;
  color: #ffcc00;
}
/* =============================================================================
   Links
   ========================================================================== */

a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

p,
pre {
  margin: 1em 0;
}

q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}


/* =============================================================================
   Lists
   ========================================================================== */

.nav ul,
.nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0 auto;
}

/* =============================================================================
   Logos
   ========================================================================== */

.logo {
  width: 250px;
  position: relative;
  top: 40px;
  left: .5em;
}

/* Contact us logos */

.contact-logos {
  width: 50px;
  padding: 1em 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

img {
  border: 0;

}

svg:not(:root) {
  overflow: hidden;
}


/* =============================================================================
   Forms
   ========================================================================== */

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  margin-left: -7px;
}

.arrow-btn {
  width: 15px;
  vertical-align: middle;
  margin: -4px 0 0 5px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;

  padding: 0;
  height: 13px;
  width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* =============================================================================
   Tables
   ========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f0e7d5;
  font-weight: normal;
  background: #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #e8e8e8;
  margin: 0 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
  font-weight: 200;
  letter-spacing: .5px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h4, h5, h6 {
  color: #e8e8e8;
}

h3 {
  font-size: 30px;
  line-height: 24px;
  font-family: 'Playfair Display', sans-serif !important;
  font-weight: 100;
  color: #F0C658;
  text-align: center;
}

a {
  color: #ffcc00;
  font-weight: 400;
  text-decoration: none;
  display:inline-block;
}
a:hover {
  color: #ffeb9b;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style: none;
  text-align: center;
}

strong {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  max-width: 650px;
  margin: -5em auto 0;
  position: relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

.team-section {
  margin-bottom: 5em;
}

blockquote {
  border-left: 3px solid #ffcc00;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}


.img-flex {
  width: 100%;
}

.img-flex-small {
  width: 100%;
  display: block;
}

.img-flex-large {
  width: 100%;
  display: none;
}

section {
  max-width: 650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;
}
section #title {
  border: 0;
  outline: none;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}
section #title h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 36px;
}
section #title p {
  color: #d7cfbe;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
section #title .credits {
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
}
section #title .credits.left {
  float: left;
}
section #title .credits.right {
  float: right;
}

.dividers img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.footer-img{
  width: 100%;
  background-size: auto;
  margin-bottom: -10px;
}


